*{margin: 0;padding: 0;}
body a{
	text-decoration: none;
}
body form,body input{
	outline: none;
}
.box{
	width: 100%;
	height: 100%;
	-webkit-box-orient: vertical;
	display: -webkit-box;
}
.Log{
	text-align: center;
	line-height: 0.86rem;
	background: #e4366b;
	width: 100%;
	height: 0.86rem;
	border-top: 0.02rem solid #636363;
	border-bottom:0.02rem solid #282828;
	font-size: 0.4rem;
	color: #ffffff;
}
.search{
	width: 100%;
	height: 0.9rem;
	background: #525358;
}
.form{
	margin-top: 0.2rem;
	margin-left: 0.3rem;
	float: left;
	width: 5.9rem;
	height: 0.56rem;
	background: #fff;
	border-radius: 5%/90%;
}
.btn{
	float: left;
	width: 0.44rem;
	height: 0.4rem;
	margin-left: 0.1rem;
	margin-top: 0.1rem;
	outline: none;
	border: 0;
	background: none;
}
.btnimg{
	margin-left: -0.1rem;
	margin-top: -0.2rem;
	float: left;
	width: 0.44rem;
	height: 0.4rem;
	
}
#search{
	width: 5rem;
	height: 0.56rem;
	float: left;
	margin-left: 0.1rem;
	border: 0;
	font-size: 0.22rem;
	color: #949496;
}

.centerDiv{
	margin-top: 0.01rem;
	-webkit-box-flex: 1;
	overflow-y: scroll;
}
#banner{
	margin-top:-0.1rem;
	display: none;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #dedcdd;
	font-size: 0.24rem;
}
.goods{
	position: absolute;
	float: left;
	width: 100%;
	height: 7.28rem;
	display: none;
	z-index: 3;
	background: #fff;
}
.goods a{
	line-height: 0.56rem;
	border-bottom: 1px solid #c0c0c0;
	padding-left: 2%;
	float: left;
	width: 100%;
	color: #000;
	height: 0.56rem;
	z-index: 3;
}
.swiper-container{
	float: left;
	width: 100%;
	height: 2.5rem;
}
.banner{
	width: 100%;
	height: 2.5rem;
}
#mainBoxlist{
	float: left;
	width: 100%;
	height: 2.5rem;
	/*border-bottom: 1px solid black;
	border-top: 1px solid black;*/
}
#goodsListDiv{
	height:2.0rem;
	width: 100%;
	background:  #fff;
	border-bottom:1px solid black ;
	}
#goodsListImg{
	width: 2rem;
	height: 2rem;
	padding: 0.2rem;
	}
 #text{
  	width: 70%;
  	width: 4.2rem;
  	height: 1.6rem;
  	margin-top: 0.2rem;
  	margin-right: 0.2rem;
  	margin-bottom: 0.2rem;
  	float: right;
  }
#text_1{
    word-break:break-all;
    white-space:wrap;
    display:-webkit-box;
    -webkit-box-orient:vertical ;
    -webkit-line-clamp: 2;
    overflow: hidden;
	font-size:0.29rem ;
	height: 0.8rem;
	text-overflow:ellipsis; 
	color: #000; 
  
  }
#shop{
  	width: 4.2rem;
  	height: 0.84rem;
 
  }
#price{
  	 float: left;
  	 width: 40%;
  	 height: 0.84rem;
  	 font-size: 0.3rem;
  	 color: palevioletred;
  }
#shoping{
  	float: right;
  	width: 40%;
  	height: 0.84rem;	 
  }
#btn_shoping{
  	width: 70%;
  	height:0.7rem;
  	margin: 0.07rem;
  	margin-left: 0.2rem;
  	border: 0;
  	border-radius:0.12rem ;
 /* 	background: url(../imges/btn_03.png);*/
  	outline: none;
  } 
.btn_shoping{
  	width: 70%;
  	height:0.7rem;
  	margin: 0.07rem;
  	margin-left: 0.2rem;
  	border: 0;
  	border-radius:0.12rem ;
  	background: #e5346a;
  	color: #fff;
  	outline: none;
  } 
footer{
	width:100%;
	height: 1.2rem;
	background: #484850;
	font-size: 0.23rem;
	border-top: 1px solid #484850;
}
footer a{
	border-top: 2px solid #484850;
	float: left;
	width: 1.2rem;
	height:0.74rem;
}
footer a:hover{
	border-top: 2px solid #e4366b;
}
footer a img{
	float: left;
	width: 0.5rem;
	height: 0.51rem;
	margin-top: 0.15rem;
}
span{
	margin-top: 0.05rem;
	margin-left: 0.4rem;
	float: left;
	color: #fefefe;
}
